body {
    background-color: #00BFFF; 
    color:#f5f5f5  ;
    font-family: "Comic Sans MS", serif ;
    padding:0;
}
p {
    font-size: 25px;
}
footer {
    color: #003366;
    text-align: center;
    font-size: 30px;
}
h1 {
    color: #003366;
    text-align: center;
    font-size: 45px;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    
}
a {
    color: #003366;  
}
a:visited {
    color: #003366;  
}
a:hover {
    color: #003366;  
}
a:active {
    color: #003366;  
}